{{ template "header.tmpl" . }}
<h1 class="title is-3 my-3">Recipes</h1>
<div class="fixed-grid has-3-cols mt-4">
    <div class="grid">
        {{ range .Dishes }}
        <div class="cell card">
            <div class="card-image">
                <figure class="image is-4by3">
                    <img src="{{ .Thumbnail }}" alt="{{ .Name }}">
                </figure>
            </div>
            <div class="card-content">
                <h3 class="title is-5 mb-2">{{ .Name }}</h3>
                <div class="content">
                {{ .Description }}
                </div>
            </div>
             <footer class="card-footer">
                <a href="#" class="card-footer-item">Edit</a>
                <a href="#" class="card-footer-item">Delete</a>
            </footer>
        </div>
        {{ end }}
    </div>
</div>
{{ template "footer.tmpl" . }}
