<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Gin recipes</title>
</head>

<body>
    <h1>Recipes</h1>
    {{ range .Dishes }}
    <div>
        <img src="{{ .Thumbnail }}">
        <h3>{{ .Name }}</h3>
        {{ .Description }}
    </div>
    {{ end }}

</body>

</html>
